/* Framework */

@font-face {
	font-family: Gilroy-Bold;
	src: url("../fonts/Gilroy-Bold.ttf");
}

@font-face {
	font-family: Gilroy-ExtraBold;
	src: url("../fonts/Gilroy-ExtraBold.ttf");
}

@font-face {
	font-family: Gilroy-Medium;
	src: url("../fonts/Gilroy-Medium.ttf");
}

@font-face {
	font-family: Gilroy-SemiBold;
	src: url("../fonts/Gilroy-SemiBold.ttf");
}

* {
	font-family: Gilroy-Medium;
}
body{
	overflow-x: hidden;
}
.modal-dialog {
	max-width: 90%;
}

.modal-body {
	padding: 0px;
}

.modal-body iframe {
	margin-bottom: -7px;
}

a,
a:active,
a:hover,
a:focus,
button,
button:active,
button:hover,
button:focus,
input,
input:active,
input:hover,
input:focus,
textarea,
textarea:active,
textarea:hover,
textarea:focus {
	outline: none;
}

a,
a:hover,
a:active,
a:focus {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Gilroy-Bold;
}

.ptb-100 {
	padding: 100px 0px;
}

.mt-100 {
	margin-top: 100px;
}

.mb-100 {
	margin-bottom: 100px;
}

.mt-50 {
	margin-top: 50px;
}

.mb-50 {
	margin-bottom: 50px;
}

h1 {
	font-size: 50px;
	line-height: 60px;
}

h2 {
	font-size: 50px;
	line-height: 60px;
}

h3 {
	font-size: 40px;
	line-height: 40px;
}

h4 {
	font-size: 24px;
	line-height: 24px;
}

p {
	font-size: 18px;
	line-height: 24px;
	margin: 0px;
	padding: 0px;
}

.btn {
	font-size: 18px;
}

a.yellow-button {
	padding: 21px 40px;
	border-radius: 32px;
	font-family: Gilroy-Bold;
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
	-ms-transition: all ease-in-out 0.3s;
}

a.yellow-button:hover {
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

a.play-video {
	font-family: Gilroy-Bold;
	padding: 21px 40px;
	border-radius: 32px;
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
	-ms-transition: all ease-in-out 0.3s;
}

a.play-video i {
	margin-right: 6px;
	font-size: 20px;
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
	-ms-transition: all ease-in-out 0.3s;
}
div.title {
	text-align: center;
	margin-bottom: 100px;
}

div.title h2 {
	margin-bottom: 20px;
}

div.title p {
	display: inline-block;
	max-width: 404px;
}


/* // Framework */


/* Header */

header {
	padding: 40px 0px 30px 0px;
}

header div.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header a.logo {
	font-size: 32px;
	font-family: Gilroy-Bold;
}

header a.logo span {
	font-weight: Gilroy-ExtraBold;
}

header div.menu-theme ul.desktop {
	display: inline-block;
	float: left;
	margin: 0px;
	padding: 0px;
	display: flex;
	align-items: center;
}

header div.menu-theme ul.desktop li a {
	padding: 18px 0px;
	font-size: 16px;
	text-decoration: none;
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
	-ms-transition: all ease-in-out 0.3s;
}

header div.menu-theme ul.desktop li:not(:last-child) {
	margin-right: 40px;
}
header div.menu-theme ul.desktop li:last-child {
	margin-left: 8px;
}

header div.menu-theme ul.desktop li:last-child a {
	display: inline-block;
	padding: 18px 56px;
	font-family: Gilroy-Bold;
	border-radius: 30px;
}

header div.menu-theme a.theme {
	float: left;
	margin-left: 20px;
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
	-ms-transition: all ease-in-out 0.3s;
}

header div.menu-theme a.theme:hover {
	opacity: 1;
}

header div.menu-theme a.theme svg {
	width: 24px;
	height: 24px;
}

header .mobile-button {
	display: none;
}


/* // Header */


/* animated videos section */

section.animated-videos {
	margin-bottom: 60px;
}

section.animated-videos div.info h1 {
	margin-bottom: 35px;
}

section.animated-videos div.info p {
	padding-right: 30px;
	margin-bottom: 50px;
}

section.animated-videos div.info a.yellow-button {
	margin-right: 16px;
}


/* // animated videos section */


/* right mix section */

section.right-mix div.content {
	border-radius: 39px;
	padding: 100px 70px;
}

section.right-mix div.content div.right h3 {
	margin-bottom: 40px;
}

section.right-mix div.content div.item div.icon {
	margin-bottom: 27px;
}

section.right-mix div.content div.item h4 {
	margin-bottom: 20px;
}

section.right-mix div.content div.item p {
	font-size: 16px;
	margin-block-end: 24px;
}

section.right-mix div.content div.item a {
	font-family: Gilroy-Bold;
	font-size: 14px;
}

section.right-mix div.content div.item a i {
	margin-left: 8px;
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
	-ms-transition: all ease-in-out 0.3s;
}

section.right-mix div.content div.item a:hover i {
	margin-left: 15px;
}


/* // right mix section */


/* Our works section */

section.our-works div.works div.item {
	border-radius: 25px;
	margin-bottom: 50px;
	overflow: hidden;
}

section.our-works div.works div.item div.img a {
	display: block;
	position: relative;
}

section.our-works div.works div.item div.img a span {
	display: block;
	width: 72px;
	height: 72px;
	text-align: center;
	line-height: 72px;
	border-radius: 50%;
	position: absolute;
	top: -20%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	color: #fff;
	font-size: 24px;
	-webkit-background-clip: padding-box !important;
	background-clip: padding-box !important;
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
	-ms-transition: all ease-in-out 0.3s;
}

section.our-works div.works div.item div.img:hover span {
	top: 50%;
}

section.our-works div.works div.item div.project-title {
	padding: 33px;
}

section.our-works div.works div.item div.project-title h4 {
	font-size: 22px;
}

section.our-works div.works div.item div.project-title a i {
	margin-left: 6px;
	margin-right: 10px;
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
	-ms-transition: all ease-in-out 0.3s;
}

section.our-works div.works div.item div.project-title a:hover i {
	margin-right: 0px;
}

section.our-works div.works a.yellow-button i {
	margin-left: 10px;
	font-size: 20px;
}


/* // Our works section */


/* Our Process */

section.our-process {
	border-radius: 150px;
}

section.our-process .process-slides-wrapper {
	max-height: 760px;
	overflow: hidden;
	position: relative;
}

section.our-process .process-slides-wrapper div.process-item {
	opacity: 0.4;
	overflow: hidden;
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
	-ms-transition: all ease-in-out 0.3s;
	position: relative;
}

section.our-process .process-slides-wrapper div.process-item:after {
	content: "";
	display: block;
	position: absolute;
	width: 1px;
	height: 110px;
	top: 80px;
	left: 35px;
}

section.our-process .process-slides-wrapper div.process-item:not(:last-child) {
	padding-bottom: 30px;
}

section.our-process .process-slides-wrapper div.process-item span {
	width: 70px;
	height: 70px;
	display: block;
	float: left;
	line-height: 60px;
	border-radius: 50%;
	text-align: center;
	-webkit-background-clip: padding-box !important;
	background-clip: padding-box !important;
	font-family: Gilroy-SemiBold;
	font-size: 24px;
}

section.our-process .process-slides-wrapper div.process-item div {
	position: relative;
	width: calc(100% - 100px);
	float: right;
	-webkit-background-clip: padding-box !important;
	background-clip: padding-box !important;
	padding: 24px;
	border-radius: 8px;
}

section.our-process .process-slides-wrapper div.process-item div h4 {
	margin-bottom: 20px;
}

section.our-process .process-slides-wrapper .ACTIVE_SLIDE {
	opacity: 1 !important;
}

section.our-process .process-slides-wrapper .ACTIVE_SLIDE span {
	-webkit-background-clip: padding-box !important;
	background-clip: padding-box !important;
}

section.our-process .process-slides-wrapper .ACTIVE_SLIDE div {
	position: relative;
	-webkit-background-clip: padding-box !important;
	background-clip: padding-box !important;
	padding: 24px;
	border-radius: 8px;
}

section.our-process .process-slides-wrapper .ACTIVE_SLIDE div:before {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	position: absolute;
	top: 15px;
	left: -15px;
}

section.our-process .process-controllers {
	text-align: center;
	margin-top: 30px;
}

section.our-process .process-controllers button {
	border-radius: 50%;
	width: 64px;
	height: 64px;
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
	-ms-transition: all ease-in-out 0.3s;
	display: inline-block;
}

section.our-process .process-controllers button i {
	font-size: 24px;
}

section.our-process .process-controllers button:first-of-type {
	margin-right: 16px;
}


/* Our Process */


/* Our Clients */

section.our-clients div.reviews div.owl-carousel {
	overflow: hidden;
	padding: 15px;
	padding-top: 60px;
}

section.our-clients div.reviews div.owl-carousel .owl-stage-outer {
	overflow: visible;
}

section.our-clients div.reviews div.owl-carousel .owl-nav {
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 0px;
}

section.our-clients div.reviews div.owl-carousel .owl-nav button {
	width: 40px;
	height: 40px;
	line-height: 35px;
	border-radius: 50%;
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
	-ms-transition: all ease-in-out 0.3s;
	display: inline-block;
	font-size: 30px;
}
section.our-clients div.reviews div.owl-carousel .owl-nav button:last-child {
	margin-right: 15px;
}
section.our-clients div.reviews div.item {
	border-radius: 12px;
	padding: 40px 20px 40px 30px;
	overflow: hidden;
}

section.our-clients div.reviews div.item ul.r-stars {
	margin: 0px;
	padding: 0px;
	margin-bottom: 24px;
}

section.our-clients div.reviews div.item ul.r-stars li:not(:last-child) {
	margin-right: 6px;
}

section.our-clients div.reviews div.item b {
	display: block;
	font-size: 18px;
	font-family: Gilroy-Bold;
	margin-bottom: 20px;
}

section.our-clients div.reviews div.item p {
	font-size: 14px;
}

section.our-clients div.reviews div.item div.client {
	margin-top: 44px;
}

section.our-clients div.reviews div.item div.client span {
	display: block;
	width: 60px;
	height: 60px;
	float: left;
	margin-right: 20px;
}

section.our-clients div.reviews div.item div.client div.name-position {
	display: block;
	float: left;
	width: calc(100% - 80px);
}

section.our-clients div.reviews div.item div.client div.name-position h5 {
	display: block;
	margin-top: 10px;
	font-size: 18px;
	margin-bottom: 8px;
	line-height: 1;
}

section.our-clients div.reviews div.item div.client div.name-position i {
	font-style: normal;
	font-family: Gilroy-SemiBold;
}


/* // Our Clients */


/* growing bussiness */

section.growing-bussiness div.layer div.button i {
	margin-left: 10px;
	font-size: 20px;
}


/* // growing bussiness */


/* Footer */

footer {
	padding: 50px 0px;
}

footer a.logo {
	font-size: 32px;
	font-family: Gilroy-Bold;
}

footer ul.menu {
	margin: 0px;
	padding: 0px;
}

footer ul.menu li {
	float: left;
}

footer ul.menu li a {
	font-size: 16px;
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
	-ms-transition: all ease-in-out 0.3s;
}
footer ul.menu li:not(:last-child) {
	margin-right: 30px;
}

footer ul.social {
	margin: 0px;
	padding: 0px;
}

footer ul.social li {
	float: left;
}

footer ul.social li a {
	font-size: 16px;
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
	-ms-transition: all ease-in-out 0.3s;
}

footer ul.social li:not(:last-child) {
	margin-right: 20px;
}


/* // Footer */

a.go-to-top {
	display: none;
	position: fixed;
	bottom: 50px;
	right: 50px;
	z-index: 10000000000;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
	-ms-transition: all ease-in-out 0.3s;
}

/* Works Page */

section.works-page div.title {
	margin-bottom: 50px;
}

section.works-page div.w-tabs div.w-controlls ul {
	display: inline-block;
	border-radius: 10px;
	margin: 0px;
}

section.works-page div.w-tabs div.w-controlls ul li {
	margin: 0px;
}

section.works-page div.w-tabs div.w-controlls ul li a {
	display: inline-block;
	padding: 25px 50px;
	font-size: 18px;
	font-family: Gilroy-SemiBold;
	border-radius: 10px;
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
	-ms-transition: all ease-in-out 0.3s;
}

section.works-page div.w-tabs div.w-controlls ul li.list-inline-item:not(:last-child) {
	margin-right: 0px;
}

section.works-page div.w-tabs div.w-content>div {
	display: none;
}

section.works-page div.w-tabs div.w-content>div.active {
	display: block;
}


/* // Works Page */


/* Process Page */

section.our-process-page div.title a.yellow-button i {
	margin-right: 6px;
	font-size: 20px;
}

section.our-process-page div.content div.row {
	position: relative;
	padding-top: 60px;
}

section.our-process-page div.content div.row div.img img {
	margin-top: -100px;
}

section.our-process-page div.content div.row div.info {
	padding: 50px 0px 0px 50px;
}

section.our-process-page div.content div.row div.info span {
	display: block;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	text-align: center;
	line-height: 55px;
	font-size: 24xp;
	-webkit-background-clip: padding-box !important;
	background-clip: padding-box !important;
	position: absolute;
}

section.our-process-page div.content div.row div.info h3 {
	font-size: 36px;
	margin-bottom: 20px;
}

section.our-process-page div.content div.row div.info p {
	font-size: 16px;
}

section.our-process-page div.content div.row:nth-child(odd) {
	height: 533px;
}

section.our-process-page div.content div.row:nth-child(odd) div.info span {
	top: -203px;
	left: -20px;
}

section.our-process-page div.content div.row:nth-child(odd):first-of-type div.info span {
	top: -70px;
	left: -30px;
}

section.our-process-page div.content div.row:nth-child(odd)>img {
	width: 55%;
	position: absolute;
	top: 0;
	left: 0;
}

section.our-process-page div.content div.row:nth-child(odd) div.img img {
	width: 70%;
}

section.our-process-page div.content div.row:nth-child(even) {
	height: 633px;
}

section.our-process-page div.content div.row:nth-child(even) div.info span {
	top: -75px;
	left: 27px;
}

section.our-process-page div.content div.row:nth-child(even)>img {
	width: 55%;
	position: absolute;
	top: 0px;
	left: 0;
}

section.our-process-page div.content div.row:nth-child(even) div.img img {
	width: 70%;
}


/* // Process Page */


/* Pricing Section */

section.pricing div.content div.item {
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
	padding: 40px;
	width: 85%;
	margin: 0px auto 100px auto;
	border-radius: 35px;
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
	-ms-transition: all ease-in-out 0.3s;
}

section.pricing div.content div.item div.info {
	margin-bottom: 60px;
}

section.pricing div.content div.item div.info div.price {
	width: 100%;
	height: 140px;
	text-align: center;
	border-radius: 24px;
	margin-right: 32px;
}

section.pricing div.content div.item div.info div.price div.holder span {
	display: block;
	line-height: 21px;
	font-size: 18px;
	margin-bottom: 10px;
}

section.pricing div.content div.item div.info div.price div.holder b {
	font-size: 40px;
	display: block;
	line-height: 40px;
	margin-bottom: 5px;
}

section.pricing div.content div.item div.info div.price div.holder i {
	font-family: Gilroy-Bold;
	font-style: normal;
	font-size: 18px;
}

section.pricing div.content div.item div.info div.description h4 {
	font-style: 30px;
	margin-bottom: 20px;
}

section.pricing div.content div.item div.info div.description p {
	font-style: 20px;
}

section.pricing div.content div.item div.imgs div.img img {
	border-radius: 12px;
}

section.pricing div.content div.item:hover {
	transform: translateY(-10px);
}


/* // Pricing Section */


/* Blog Page */

section.blog div.item {
	margin-bottom: 50px;
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
	-ms-transition: all ease-in-out 0.3s;
}

section.blog div.item a.img {
	display: block;
	width: 100%;
	margin-bottom: 30px;
}

section.blog div.item a.img img {
	width: 100%;
}

section.blog div.item div.category-date {
	margin-bottom: 15px;
}

section.blog div.item div.category-date span.cat {
	font-size: 18px;
	font-family: Gilroy-SemiBold;
}

section.blog div.item div.category-date span.date {
	font-size: 18px;
	font-family: Gilroy-SemiBold;
}

section.blog div.item h4 {
	font-size: 26px;
	line-height: 33px;
	margin-bottom: 20px;
}

section.blog div.item p {
	font-size: 16px;
	margin-bottom: 20px;
}

section.blog div.item a.read-more {
	font-family: Gilroy-Bold;
	font-size: 14px;
}

section.blog div.item a.read-more i {
	margin-left: 8px;
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
	-ms-transition: all ease-in-out 0.3s;
}

section.blog div.item a.read-more:hover i {
	margin-left: 15px;
}

section.blog div.item:hover {
	transform: translateY(-10px);
}


/* // Blog Page */


/* Creative Team Section */

section.creative-team h2 {
	max-width: 500px;
	display: inline-block;
}


/* // Creative Team Section */


/* Why Choose Us Section */

section.why-choose-us div.content div.item div.img {
	margin-bottom: 30px;
}

section.why-choose-us div.content div.item h4 {
	font-family: Gilroy-SemiBold;
	margin-bottom: 15px;
}

section.why-choose-us div.content div.item p {
	font-size: 16px;
	line-height: 24px;
}


/* // Why Choose Us Section */


/* Our Team Section */

section.our-team div.content div.item div.img {
	margin-bottom: 20px;
}

section.our-team div.content div.item h4 {
	font-family: Gilroy-SemiBold;
	margin-bottom: 10px;
}

section.our-team div.content div.item p {
	font-size: 16px;
	line-height: 24px;
}


/* // Our Team Section */


/* Contact Section */

section.contact div.content div.form div.input {
	margin-bottom: 24px;
}

section.contact div.content div.form div.input input,
section.contact div.content div.form div.input textarea,
section.contact div.content div.form div.input select {
	border-radius: 12px;
	padding-left: 24px;
	padding-right: 24px;
	font-size: 18px;
	border: none;
}
section.contact div.content div.form div.input input,
section.contact div.content div.form div.input select {
	height: 60px;
}

section.contact div.content div.form div.input textarea {
	resize: none;
	padding-top: 20px;
}

section.contact div.content div.form div.checkbox-field {
	font-size: 15px;
	margin-bottom: 30px;
}

section.contact div.content div.form div.checkbox-field span.checkbox {
	display: inline-block;
	float: left;
}

section.contact div.content div.form div.checkbox-field span.checkbox input[type="checkbox"] {
	display: none;
}

section.contact div.content div.form div.checkbox-field span.checkbox label {
	width: 22px;
	height: 22px;
	border-radius: 3px;
	position: relative;
	cursor: pointer;
	margin-right: 15px;
}

section.contact div.content div.form div.checkbox-field span.checkbox label:after {
	content: "\2713";
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	font-size: 20px;
	display: none;
}

section.contact div.content div.form div.checkbox-field span.checkbox input[type="checkbox"]:checked+label:after {
	display: block;
}

section.contact div.content div.form div.submit input {
	border: none;
	border-radius: 32px;
	padding: 15px 50px;
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
	-ms-transition: all ease-in-out 0.3s;
}

section.contact div.content div.contact-info div.item div.icon {
	margin-right: 30px;
}

section.contact div.content div.contact-info div.item div.details h4 {
	margin-bottom: 10px;
	font-family: Gilroy-SemiBold;
}

section.contact div.content div.contact-info div.item div.details p {
	font-size: 20px;
}

section.contact div.content div.contact-info div.item:not(:last-child) {
	margin-bottom: 60px;
}


/* // Contact Section */


/* FAQS Section */

section.faqs div.content div.faq {
	padding-bottom: 40px;
	margin-bottom: 40px;
}

section.faqs div.content div.faq:not(:last-child) {
	border-bottom: 1px solid #d8d8d8;
}

section.faqs div.content div.faq h3 {
	font-size: 32px;
	margin-bottom: 24px;
}

section.faqs div.content div.faq p {
	max-width: 75%;
}


/* // FAQS Section */


/* Single Blog */

section.single-blog div.content div.post-content div.project-image {
	position: relative;
}

section.single-blog div.content div.post-content div.project-image span {
	display: block;
	width: 100px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	font-size: 24px;
	-webkit-background-clip: padding-box !important;
	background-clip: padding-box !important;
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
	-ms-transition: all ease-in-out 0.3s;
}

section.single-blog div.content div.post-content p,
section.single-blog div.content div.post-content ul,
section.single-blog div.content div.post-content ol,
section.single-blog div.content div.post-content b,
section.single-blog div.content div.post-content i,
section.single-blog div.content div.post-content del {
	line-height: 30px;
}

section.single-blog div.content div.post-content a {
	font-weight: bolder;
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
	-ms-transition: all ease-in-out 0.3s;
}

section.single-blog div.content div.post-content h1 {
	font-size: 40px;
}

section.single-blog div.content div.post-content h2 {
	font-size: 36px;
}

section.single-blog div.content div.post-content h3 {
	font-size: 24px;
}

section.single-blog div.content div.post-content h4 {
	font-size: 22px;
}

section.single-blog div.content div.post-content h5 {
	font-size: 18px;
}

section.single-blog div.content div.post-content h6 {
	font-size: 16px;
}

section.single-blog div.content div.post-content h1,
section.single-blog div.content div.post-content h2,
section.single-blog div.content div.post-content h3,
section.single-blog div.content div.post-content h4,
section.single-blog div.content div.post-content h5,
section.single-blog div.content div.post-content h6 {
	line-height: 1;
	padding: 0px 0px 50px 0px;
}

section.single-blog div.content div.cat-tags div.cat,
section.single-blog div.content div.cat-tags div.tags {
	margin-bottom: 20px;
	overflow: hidden;
	border-bottom: 1px solid #000000;
	padding: 20px 0px;
}

section.single-blog div.content div.cat-tags div.cat span,
section.single-blog div.content div.cat-tags div.tags span {
	float: left;
	font-size: 16px;
}

section.single-blog div.content div.cat-tags div.cat ul,
section.single-blog div.content div.cat-tags div.tags ul {
	float: left;
	list-style: none;
	margin: 0px;
	padding: 0px;
	margin-left: 10px;
}

section.single-blog div.content div.cat-tags div.cat ul li,
section.single-blog div.content div.cat-tags div.tags ul li {
	float: left;
	margin: 0px;
	padding: 0px;
}

section.single-blog div.content div.cat-tags div.cat ul li:not(:last-child),
section.single-blog div.content div.cat-tags div.tags ul li:not(:last-child) {
	margin-right: 5px;
}

section.single-blog div.content div.cat-tags div.cat ul li a,
section.single-blog div.content div.cat-tags div.tags ul li a {
	display: inline-block;
	font-size: 14px;
	padding: 5px 15px;
	border-radius: 30px;
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
	-ms-transition: all ease-in-out 0.3s;
}

section.single-blog div.content div.share {
	overflow: hidden;
	padding: 20px 0px;
	border-bottom: 1px solid #000000;
}

section.single-blog div.content div.share span {
	font-size: 16px;
}

section.single-blog div.content div.share ul li a {
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
	-ms-transition: all ease-in-out 0.3s;
}


/* // Single Blog */


/* Responsive */

@media (max-width: 1200px) {
	h3 {
		font-size: 30px !important;
		line-height: 30px !important;
	}
	h4 {
		font-size: 24px !important;
		line-height: 24px !important;
	}
	section.right-mix div.content {
		padding: 50px 50px;
	}
	p {
		font-size: 14px !important;
	}
	section.our-process-page div.content div.row:nth-child(odd) {
		height: 448px;
	}
	section.our-process-page div.content div.row:nth-child(even) {
		height: 533px;
	}
	section.our-process-page div.content div.row:nth-child(even) div.info span {
		top: -77px;
		left: 17px;
	}
	section.our-process-page div.content div.row:nth-child(odd) div.info span {
		top: -190px;
		left: -20px;
	}
}

@media (max-width: 991px) {
	header a.logo {
		font-size: 20px;
	}
	header div.menu-theme ul.desktop li a {
		font-size: 14px;
	}
	header div.menu-theme ul.desktop li:not(:last-child) {
		margin-right: 20px;
	}
	header div.menu-theme ul.desktop li:last-child a {
		padding: 10px 30px;
	}
	h1,
	h2 {
		font-size: 36px !important;
		line-height: 36px !important;
	}
	section.animated-videos div.info h1 {
		margin-bottom: 20px;
	}
	a.yellow-button {
		padding: 10px 20px;
		font-size: 14px;
	}
	a.play-video {
		padding: 10px 20px;
		font-size: 14px;
	}
	h3 {
		font-size: 24px !important;
		line-height: 30px !important;
	}
	section.right-mix div.content div.right h3 {
		margin-bottom: 20px;
	}
	section.right-mix div.content div.item div.icon {
		margin-bottom: 20px;
	}
	section.right-mix div.content div.item div.icon img {
		width: 60px;
	}
	h4 {
		font-size: 16px !important;
		line-height: 16px !important;
	}
	section.right-mix div.content {
		padding: 50px 50px;
	}
	p {
		font-size: 14px !important;
	}
	div.title h2 {
		margin-bottom: 10px;
	}
	section.our-works div.works div.item div.project-title a {
		width: 130px;
	}
	div.title {
		margin-bottom: 50px;
	}
	section.our-process {
		margin-bottom: 50px;
		padding: 50px 0px;
	}
	section.our-process .process-slides-wrapper {
		max-height: 729px;
	}
	section.our-clients div.reviews div.owl-carousel .owl-nav button {
		line-height: 0;
	}
	section.our-clients div.brands div.img {
		margin-bottom: 30px;
	}
	footer ul.menu li:not(:last-child) {
		margin-right: 15px;
	}
	footer ul.social li:not(:last-child) {
		margin-right: 10px;
	}
	section.works-page div.w-tabs div.w-controlls ul li a {
		padding: 12px 24px;
		font-size: 16px;
	}
	section.our-process-page div.content div.row {
		height: auto !important;
	}
	section.our-process-page div.content div.row:nth-child(odd)>img,
	section.our-process-page div.content div.row:nth-child(even)>img {
		display: none;
	}
	section.our-process-page div.content div.row:nth-child(odd) div.info span,
	section.our-process-page div.content div.row:nth-child(even) div.info span {
		display: none;
	}
	section.our-process-page div.content div.row div.img img {
		margin-top: 0px;
		width: 100% !important;
	}
	section.our-process-page div.content div.row div.info {
		padding: 0px;
	}
	section.our-process-page .offset-md-1 {
		margin-left: 0% !important;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	section.our-process-page .col-md-6,
	section.our-process-page .offset-md-1 {
		display: flex;
		align-items: center;
	}
	section.pricing div.content div.item {
		width: 100%;
	}
	section.why-choose-us div.content div.item,
	section.our-team div.content div.item {
		margin-bottom: 30px;
	}
	section.creative-team div.content div.img {
		margin-top: 30px;
	}
	section.why-choose-us div.content div.item {
		text-align: center;
	}
}

@media (max-width: 768px) {
	.modal-body iframe {
		height: 300px;
	}
	.mobile-button {
		display: block !important;
		position: relative;
		width: 40px;
		height: 30px;
		float: right;
	}
	.mobile-button span {
		display: block;
		width: 40px;
		height: 3px;
		position: absolute;
		transition: all ease-in-out 0.3s;
		-webkit-transition: all ease-in-out 0.3s;
		-moz-transition: all ease-in-out 0.3s;
		-o-transition: all ease-in-out 0.3s;
		-ms-transition: all ease-in-out 0.3s;
	}
	.mobile-button span:first-of-type {
		top: 0;
		left: 0;
	}
	.mobile-button span:nth-child(2) {
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
	}
	.mobile-button span:last-of-type {
		bottom: 0;
		left: 0;
	}
	.mobile-button.opened span:first-of-type {
		top: 12px;
		transform: rotate(-45deg);
	}
	.mobile-button.opened span:nth-child(2) {
		display: none;
	}
	.mobile-button.opened span:last-of-type {
		bottom: 15px;
		transform: rotate(45deg);
	}
	header div.container {
		position: relative;
		display: block;
	}
	header div.menu-theme ul.desktop {
		position: absolute;
		top: 60px;
		left: 0;
		width: 100%;
		z-index: 1000;
		display: none;
		padding: 20px 0px;
		flex-wrap: wrap;
		display: none;
	}
	header div.menu-theme ul.desktop li {
		display: block;
		width: 100%;
	}
	header div.menu-theme ul.desktop li a {
		display: block;
		padding: 10px 15px !important;
		font-size: 18px !important;
	}
	header div.menu-theme ul.desktop li:not(:last-child) a {
		width: 100% !important;
	}
	section.animated-videos div.info,
	section.animated-videos div.img {
		padding: 50px 0px;
	}
	section.animated-videos {
		background-position: 50px 50px;
	}
	section.right-mix div.content div.item {
		margin-top: 30px;
	}
	section.our-process .process-slider {
		margin-bottom: 50px;
	}
	section.our-process .process-slides-wrapper {
		max-height: 648px;
	}
	section.growing-bussiness div.layer div.button {
		margin-top: 50px;
	}
	footer div.container {
		display: block !important;
		text-align: center;
	}
	footer div.container>div {
		text-align: center;
	}
	footer div.container ul {
		display: inline-block;
	}
	footer div.container div {
		margin-top: 10px;
	}
	section.works-page div.w-tabs div.w-controlls ul li a {
		font-size: 14px;
	}
	section.our-process-page div.content div.row>div:nth-of-type(2) {
		margin-top: 30px;
	}
	section.our-process-page .offset-md-1 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	section.pricing div.content div.item div.info div.price {
		margin-right: 0px;
		width: 180px;
		margin-bottom: 30px;
	}
	section.pricing div.content div.item div.imgs div.img img {
		width: 100%;
	}
	section.pricing div.content div.item div.imgs div.row div.col-md-4:not(:last-child) {
		margin-bottom: 30px;
	}
	section.contact div.contact-info {
		margin-top: 50px;
	}
	section.contact div.content div.contact-info div.item:not(:last-child) {
		margin-bottom: 30px;
	}
	section.contact div.content div.form div.input input,
	section.contact div.content div.form div.input textarea,
	section.contact div.content div.form div.input select {
		font-size: 14px;
	}
	section.contact div.content div.form div.input input,
	section.contact div.content div.form div.input select {
		height: 50px;
	}
	section.faqs div.content div.faq p {
		max-width: 100%;
	}
	section.faqs div.content div.faq h3 {
		margin-bottom: 15px;
	}
	section.single-blog div.content div.cat-tags div.cat ul,
	section.single-blog div.content div.cat-tags div.tags ul {
		display: inline-block;
		width: calc(100% - 103px);
	}
	section.single-blog div.content div.cat-tags div.cat ul li,
	section.single-blog div.content div.cat-tags div.tags ul li {
		margin-bottom: 10px;
	}
}

@media (max-width: 525px) {
	section.our-process .process-slides-wrapper {
		max-height: 729px;
	}
	section.our-process .process-controllers button {
		width: 40px;
		height: 40px;
		line-height: 40px;
		font-size: 14px;
	}
	section.works-page div.w-tabs div.w-controlls ul li a {
		padding: 10px 20px;
	}
}


/* // Responsive */


/*# sourceMappingURL=style.css.map */